In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Descargar csv de Kaggle e importarlo.
# Kaggle URL: https://www.kaggle.com/datasets/teajay/global-shark-attacks

shark_attacks = pd.read_csv(r'C:\Users\carlo\Labs IronHack\Limpieza_datos\data\shark_attacks_data.csv',encoding='ISO-8859-1')

## Revision de los datos por columna

In [ ]:
# comprobar cuales son las columnas tienen duplicados

for i in shark_attacks:
    print(shark_attacks[i].duplicated().any())

In [ ]:
# Contar las columnas que tengan nulos
columnas_nan = shark_attacks.isna().sum()

columnas_nan[columnas_nan>0]

In [ ]:
# Primera revision de los datos.
shark_attacks.info()

In [ ]:
shark_attacks.head()

## Revision de los datos por filas. 
Eliminar las filas que tengan mas de un tercio de valores nulos.
Estas filas no nos valen como datos reales.

In [ ]:
# Creo nulos_fila con todas las filas que tengan nulos y la suma de ellos (Por eso el axis=1, para que coja las filas)
nulos_fila = shark_attacks.isnull().sum(axis=1)
shark_attacks = shark_attacks[nulos_fila <=8] # Si la fila tiene mas de 8 nulos (1/3) la elimino.

In [ ]:
shark_attacks.shape

In [ ]:
shark_attacks.isnull().sum()

In [ ]:
# Mostrar las nuevas dimensiones del data frame.
shark_attacks.shape

In [ ]:
#Comprobar si tiene columnas duplicadas
shark_attacks.duplicated().any()

## Cambiar y organizar los titulos de las columnas

In [ ]:
shark_attacks.columns

In [ ]:
# Quitar los espacios en los nombres y cambiarlo por '_' y cambiar nombres
shark_attacks = shark_attacks.rename(columns={'Case Number': 'Case_number', 'Sex ': 'Sex','Fatal (Y/N)': 'Fatal','Species ': 'Species','Investigator or Source': 'Investigator_Source','href formula': 'href_formula','Case Number.1': 'Case_number1','Case Number.2': 'Case_number2','original order': 'original_order','Unnamed: 22': 'No_data1','Unnamed: 23': 'No_data2'})

In [ ]:
shark_attacks.shape

## Rellenar los valores nulos de cada columna

In [ ]:
# Como la columna 'Year' es de tipo float, quiero que los nulos me los cambie por 0. Para que no me cambie el tipo en la columna.
shark_attacks.Year.fillna(0,inplace = True)

In [ ]:
# Como la columna 'original_order' es de tipo float, quiero que los nulos me los cambie por 0. Para que no me cambie el tipo en la columna.
shark_attacks.original_order.fillna(0,inplace = True)

In [ ]:
# Relleno todos los nulos con'Noinfo'
shark_attacks.fillna('Noinfo',inplace = True)

In [ ]:
# Comprobar que ya no tengo nulos en el data frame
sin_nulos = shark_attacks.isna().sum()

sin_nulos[sin_nulos>0]

In [ ]:
shark_attacks.shape

In [ ]:
# La columna 'Country' cambio todos los textos a minuscula con la primera letra en mayuscula
shark_attacks['Country'] = shark_attacks['Country'].str.lower().str.capitalize()
shark_attacks.Country

In [ ]:
# La columna 'Injury' cambio todos los textos a minuscula con la primera letra en mayuscula
shark_attacks['Injury'] = shark_attacks['Injury'].str.lower().str.capitalize()
shark_attacks.Injury

In [ ]:
shark_attacks.shape

## Completar valores

In [ ]:
# Cambiar de tipo float a tipo integer las fechas. Para hacer desaparecer el.0 despues de la fecha
shark_attacks.Year = shark_attacks.Year.apply(lambda x:int(x))
shark_attacks.Year

In [ ]:
# La columna Sex solo puede M (Male) o F (Female). Printeo los valores unicos
shark_attacks.Sex.unique()

In [ ]:
# Funcion replace para cambiar los valores que no son claros por Noinfo
shark_attacks.Sex.replace(['M ','lli','N','.'],['M','Noinfo','Noinfo','Noinfo'],inplace= True)
shark_attacks.Sex.replace(['Noinfo'],['Sex not confirmed'],inplace= True)

In [ ]:
# Ya solo hay tres valores M, F y Sex not confirmed
shark_attacks.Sex.unique()

In [ ]:
shark_attacks.Fatal.unique()

In [ ]:
shark_attacks.Fatal.replace(['M','UNKNOWN','2017',' N','N ','y','Noinfo'],['Fatal not confirmed','Fatal not confirmed','Fatal not confirmed','Fatal not confirmed','Fatal not confirmed','Fatal not confirmed','Fatal not confirmed'],inplace= True)

In [ ]:
# Ya solo hay tres valores N, Y y Fatal not confirmed
shark_attacks.Fatal.unique()

In [ ]:
# Compruebo los datos unicos de esta columna para tener una idea aproximada de los valores que tiene la columna
shark_attacks.Time.unique()

In [ ]:
# Hago una funcion con varias condiciones para calcular 'el momento del dia' si la fila contiene un numero.
def calcular_hora(hour):
    if '07' in hour or '08' in hour or '09' in hour or '10' in hour or '11' in hour or '12' in hour:
        return 'Morning'
    elif '13' in hour or '14' in hour or '15' in hour or '16' in hour or '17' in hour or '18' in hour or '19' in hour or '20' in hour or '21' in hour:
        return 'Afternoon'
    elif '22' in hour or '23' in hour or '00' in hour or '01' in hour or '02' in hour or '03' in hour or '04' in hour or '05' in hour or '06' in hour:
        return 'Night'
    else:
        return 'No information'    

# Aplico la funcion a la columna
shark_attacks['Time'] = shark_attacks['Time'].apply(calcular_hora)

In [ ]:
shark_attacks.Time.unique()

In [ ]:
'''# Recorrer cada fila del DataFrame y agregar el n√∫mero consecutivo correspondiente
# Cambia los numeros de mayor a menor, ya que el ataque mas nuevo es el numero mas grande.
# n_fila = shark_attacks.shape[0]

for i in range(len(shark_attacks):
    shark_attacks.loc[i,'Case_number'] = (len(shark_attacks)) - i'''

In [ ]:
'''len (shark_attacks)