In [2]:
import numpy as np
import pandas as pd

In [3]:
# Descargar csv de Kaggle e importarlo.
# Kaggle URL: https://www.kaggle.com/datasets/teajay/global-shark-attacks

shark_attacks = pd.read_csv(r'C:\Users\carlo\Labs IronHack\Limpieza_datos\data\shark_attacks_data.csv',encoding='ISO-8859-1')

## Revision de los datos por columna

In [4]:
# comprobar cuales son las columnas tienen duplicados

for i in shark_attacks:
    print(shark_attacks[i].duplicated().any())

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [5]:
# Contar las columnas que tengan nulos
columnas_nan = shark_attacks.isna().sum()

columnas_nan[columnas_nan>0]

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [6]:
# Primera revision de los datos.
shark_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
shark_attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

## Revision de los datos por filas. 
Eliminar las filas que tengan mas de un tercio de valores nulos.
Estas filas no nos valen como datos reales.

In [8]:
# Creo nulos_fila con todas las filas que tengan nulos y la suma de ellos (Por eso el axis=1, para que coja las filas)
nulos_fila = shark_attacks.isnull().sum(axis=1)
shark_attacks = shark_attacks[nulos_fila <=8] # Si la fila tiene mas de 8 nulos (1/3) la elimino.

In [9]:
shark_attacks.shape

(6269, 24)

In [10]:
shark_attacks.isnull().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     44
Area                       428
Location                   512
Activity                   521
Name                       190
Sex                        540
Age                       2798
Injury                      23
Fatal (Y/N)                526
Time                      3321
Species                   2814
Investigator or Source      16
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6268
Unnamed: 23               6267
dtype: int64

In [11]:
# Mostrar las nuevas dimensiones del data frame.
shark_attacks.shape

(6269, 24)

In [12]:
#Comprobar si tiene columnas duplicadas
shark_attacks.duplicated().any()

False

## Cambiar y organizar los titulos de las columnas

In [13]:
shark_attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [14]:
# Quitar los espacios en los nombres y cambiarlo por '_' y cambiar nombres
shark_attacks = shark_attacks.rename(columns={'Case Number': 'Case_number', 'Sex ': 'Sex','Fatal (Y/N)': 'Fatal','Species ': 'Species','Investigator or Source': 'Investigator_Source','href formula': 'href_formula','Case Number.1': 'Case_number1','Case Number.2': 'Case_number2','original order': 'original_order','Unnamed: 22': 'No_data1','Unnamed: 23': 'No_data2'})

In [15]:
shark_attacks.shape

(6269, 24)

## Rellenar los valores nulos de cada columna

In [16]:
# Como la columna 'Year' es de tipo float, quiero que los nulos me los cambie por 0. Para que no me cambie el tipo en la columna.
shark_attacks.Year.fillna(0,inplace = True)

In [17]:
# Como la columna 'original_order' es de tipo float, quiero que los nulos me los cambie por 0. Para que no me cambie el tipo en la columna.
shark_attacks.original_order.fillna(0,inplace = True)

In [18]:
# Relleno todos los nulos con'Noinfo'
shark_attacks.fillna('Noinfo',inplace = True)

In [19]:
# Comprobar que ya no tengo nulos en el data frame
sin_nulos = shark_attacks.isna().sum()

sin_nulos[sin_nulos>0]

Series([], dtype: int64)

In [20]:
shark_attacks.shape

(6269, 24)

In [21]:
# La columna 'Country' cambio todos los textos a minuscula con la primera letra en mayuscula
shark_attacks['Country'] = shark_attacks['Country'].str.lower().str.capitalize()
shark_attacks.Country

0                      Usa
1                      Usa
2                      Usa
3                Australia
4                   Mexico
               ...
6297             Australia
6298             Australia
6299                   Usa
6300                Panama
6301    Ceylon (sri lanka)
Name: Country, Length: 6269, dtype: object

In [22]:
# La columna 'Injury' cambio todos los textos a minuscula con la primera letra en mayuscula
shark_attacks['Injury'] = shark_attacks['Injury'].str.lower().str.capitalize()
shark_attacks.Injury

0       No injury to occupant, outrigger canoe and pad...
1                              Minor injury to left thigh
2            Injury to left lower leg from surfboard skeg
3                               Minor injury to lower leg
4       Lacerations to leg & hand shark provoked incident
                              ...
6297                                                Fatal
6298                                                Fatal
6299                                                Fatal
6300                                                Fatal
6301    Fatal. "shark bit him in half, carrying away t...
Name: Injury, Length: 6269, dtype: object

In [23]:
shark_attacks.shape

(6269, 24)

## Completar valores

In [24]:
# Cambiar de tipo float a tipo integer las fechas. Para hacer desaparecer el.0 despues de la fecha
shark_attacks.Year = shark_attacks.Year.apply(lambda x:int(x))
shark_attacks.Year

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
6297       0
6298       0
6299       0
6300       0
6301       0
Name: Year, Length: 6269, dtype: int64

In [25]:
# La columna Sex solo puede M (Male) o F (Female). Printeo los valores unicos
shark_attacks.Sex.unique()

array(['F', 'M', 'Noinfo', 'M ', 'lli', 'N', '.'], dtype=object)

In [26]:
# Funcion replace para cambiar los valores que no son claros por Noinfo
shark_attacks.Sex.replace(['M ','lli','N','.'],['M','Noinfo','Noinfo','Noinfo'],inplace= True)
shark_attacks.Sex.replace(['Noinfo'],['Sex not confirmed'],inplace= True)

In [27]:
# Ya solo hay tres valores M, F y Sex not confirmed
shark_attacks.Sex.unique()

array(['F', 'M', 'Sex not confirmed'], dtype=object)

In [30]:
shark_attacks.Fatal.unique()

array(['N', 'Y', 'Noinfo', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [31]:
shark_attacks.Fatal.replace(['M','UNKNOWN','2017',' N','N ','y','Noinfo'],['Fatal not confirmed','Fatal not confirmed','Fatal not confirmed','Fatal not confirmed','Fatal not confirmed','Fatal not confirmed','Fatal not confirmed'],inplace= True)

In [34]:
# Ya solo hay tres valores N, Y y Fatal not confirmed
shark_attacks.Fatal.unique()

array(['N', 'Y', 'Fatal not confirmed'], dtype=object)

array(['57', '11', '48', 'Noinfo', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3',
       '8', '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6Â½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2Â½', '13 or 14'], dtype=object)

In [ ]:
'''# Recorrer cada fila del DataFrame y agregar el nÃºmero consecutivo correspondiente
# Cambia los numeros de mayor a menor, ya que el ataque mas nuevo es el numero mas grande.
# n_fila = shark_attacks.shape[0]

for i in range(len(shark_attacks):
    shark_attacks.loc[i,'Case_number'] = (len(shark_attacks)) - i'''

In [ ]:
'''len (shark_attacks)