In [2]:
import numpy as np
import pandas as pd

In [3]:
#Importar los datos de Kaggle

shark_attacks = pd.read_csv(r'C:\Users\carlo\Labs IronHack\Limpieza_datos\data\shark_attacks_data.csv',encoding='ISO-8859-1')

## Revision de los datos por columna

In [4]:
# comprobar cuales son las columnas tienen duplicados

for i in shark_attacks:
    print(shark_attacks[i].duplicated().any())

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [5]:
# Contar las columnas que tengan nulos
columnas_nan = shark_attacks.isna().sum()

columnas_nan[columnas_nan>0]

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [6]:
# Primera revision de los datos.
shark_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
shark_attacks['Fatal (Y/N)'].head(10)

0    N
1    N
2    N
3    N
4    N
5    N
6    Y
7    N
8    N
9    N
Name: Fatal (Y/N), dtype: object

In [8]:
shark_attacks['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

## Revision de los datos por filas. 
Eliminar las filas que tengan mas de un tercio de valores nulos.
Estas filas no nos valen como datos reales.

In [9]:
# Creo nulos_fila con todas las filas que tengan nulos y la suma de ellos (Por eso el axis=1, para que coja las filas)
nulos_fila = shark_attacks.isnull().sum(axis=1)
shark_attacks = shark_attacks[nulos_fila <=8] # Si la fila tiene mas de 8 nulos (1/3) la elimino.

In [10]:
# Mostrar las nuevas dimensiones del data frame.
shark_attacks.shape

(6269, 24)

In [11]:
#Comprobar si tiene columnas duplicadas
shark_attacks.duplicated().any()

False